<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0H3V5xF91RY3UlZTfZBTmFWbVvb5ZeHE</string>
	<key>GCM_SENDER_ID</key>
	<string>748325674019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devibrahimglr.GulerGlobal</string>
	<key>PROJECT_ID</key>
	<string>gulerglobal-0001</string>
	<key>STORAGE_BUCKET</key>
	<string>gulerglobal-0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748325674019:ios:c9889aed3aaa63a117a596</string>
</dict>
</plist>